@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #0d1117;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.form-wrapper {
  max-width: 450px;
  margin-top: 4.5rem;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
  gap: 8px;
}

.separator-wrapper {
  position: relative;
  width: 100%;
  margin: 16px 0;
  display: flex;
  justify-content: center;
}

.separator-line {
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: -1;
}

.separator-text {
  text-align: center;
  z-index: 1000;
  background-color: #0d1117;
  padding: 0 8px;
  font-size: 1rem;
  font-weight: 700;
}

.oauth-btn {
  background-color: #262c36;
  color: #fff;
  padding: 8px 0;
}

.oauth-btn:hover {
  background-color: #3c4554;
}

.info-text {
  font-size: 0.7rem;
  color: #3c4554;
}
